*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sign-up{
    font-size: 1.5rem;
}
.none{
    font-size: 0.9rem;
}
.google{
    display: block;
    background: linear-gradient( to right, green, green, red,yellow, blue, blue);
    color: white;
    font-size: 1.2rem;
    font-weight: 900;
    width: 300px;
    height: 30px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    border-radius: 10px;
}
div{
    background:white;
    border: 2px solid white;
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    padding: 10px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.404);
}
input{
    outline: none;
    border: none;
    color: white ;
    font-size: 1.2rem;
    padding-left: 30px;
    width: 300px;
    background: none;
    height: 50px;
    border-radius: 100px;
    box-shadow: inset 2px 2px 5px white,inset -2px -2px 5px white;
}
input::placeholder{
    text-align: center;
    font-size: 1.22rem;
    color: white    ;
}
hr{
    border: 1px solid rgb(207, 157, 157);
    width: 250px;
}
video{
    position: fixed;
    width: 100%;
    object-fit: cover;
    height: 100%;
    z-index: -1;
}
section{
    display: flex;
    column-gap: 5px;
}
p{
    font-size: 0.8rem;
}
.button{
    width: 80px;
    height: 30px;
    border-radius: 10px;
    background: rgba(10, 225, 10, 0.337);
    border: none;
    text-align: center;
    box-shadow: 1px 1px 5px white, -1px -1px 5px white;
}
a{
    text-decoration: none;
    text-align: center;
}
.button1{
    background-color: rgba(1, 124, 185, 0.629);
    text-align: center;

}
label{
    align-self: flex-start;
}
.password{
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid rgba(255, 255, 255, 0.404);
}
@media (max-width:400px) {
    input{
        width: 250px;
    }
    .google{
        width: 250px;
    }
    p{
        font-size: 0.7rem
    };
    section{
        column-gap: 2px;
    }
}
